.form {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}

.form > strong {
  line-height: 1.6;
  color: var(--gray-100)
}

.form .textarea {
  width: 100%;
  height: 6rem;
  padding: 1rem;
  border: 0;
  border-radius: 8px;
  background: var(--gray-900);
  color: var(--gray-100);
  line-height: 1.4;
  margin-top: 1rem;
  resize: none;
}

.form .textarea:focus {
  outline: 2px solid var(--blue-300);
  border: 0;
}

.form .textarea::placeholder {
  color: var(--gray-400);
}

.form .footer {
  visibility: hidden;
  max-height: 0;
}

.form:focus-within .footer {
  visibility: visible;
  max-height: none;
}

.form .button {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border: 0;
  border-radius: 8px;
  background: var(--blue-300);
  color: var(--white);
  cursor: pointer;
  font-weight: bold;
  transition: filter 0.2s;
}

.form .button:hover {
  filter: brightness(0.9);
}


